* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  
}

//navbar
.navbar {
  box-sizing: border-box;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background-color: blue;
  background-color: $navbar-backgroundColor;
  color: $navbar-first-color;
  justify-content: space-around;
  padding: 12px 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  .navbar-title {
    line-height: 40px;
    font-size: 1.3rem; 
  }

  .navbar-nav {
    list-style-type: none;
    color: $navbar-second-color;
    display: flex;

    :hover {
      color: $navbar-hover-color;
      cursor: pointer;
    }

    .dropdown :first-child::after {
      content: "";
      margin-left: .255em;
      vertical-align: .255em;
      display: inline-block;
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }

    li.show, a.show, .dropdown.show {
      color: white;
    }


    li {
      margin: 0 10px;
      line-height: 40px;

      .dropdown-menu {
        position: absolute;
        transform: translateX(-10%);
        display: none;
        
        :first-child::after {
          content: none;
        }
      }
    
      .dropdown-menu.show {
        display: block;
        float: none;
        background-color: $navbar-first-color;
        color: black;
        border: 0.3px solid black;
        border-radius: 5px;
        z-index: 4;
    
        a {
          display: block;
          padding: .25rem 1.5rem;
        }

        :hover {
          color: black;
          background-color: #f8f9fa;
          border-radius: 5px;
        }
      }
    }
  }

  .navbar-buttons {
    width: 200px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;

    .show {
      background-color: $navbar-btn-hover;
    }

    button {
      flex-grow: 1;
      color: white;
      background-color: $navbar-btn-background;
      border: none;
      height: 100%;

      :hover {
        cursor: pointer;
        background-color: $navbar-btn-hover;
      }

      i {
        border-color: $navbar-btn-background;
        width: 100%;
        line-height: 40px;
      }
    }
  }

  .navbar-hamburger {
    width: 50px;
    background-color: $navbar-backgroundColor;
    border: 0.3px solid rgba(255,255,255,.1);
    border-radius: 5px;
    color: rgba(255,255,255,.5);
    display: flex;

    :hover {
      cursor: pointer;
      border: 0.3px solid white;
      border-radius: 5px;
    }
    
    span {
      flex-grow: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      :hover {
        border: none;
      }

      i {
        font-size: 30px;
      }
    }
  }
}

//main-slider
.main-slider {
  width: 100%;
  height: 100vh;
  margin-bottom: 50px;
  overflow: hidden;

  .slider-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    transition: 0.6s;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    p {
      position: absolute;
      display: block;
      text-align: center;
      font-size: 24px;
      color: orangered;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.9;
      background-color: royalblue;
      padding: 3px 6px;
      border-radius: 10px;
    }
  }

  .current {
    display: block;
    z-index: 2;
    transform: translateX(0);
  }

  .next {
    display: block;
    z-index: 2;
    transform: translateX(100%);
  }

  .prev {
    display: block;
    z-index: 2;
    transform: translateX(-100%);
  }

  .hide {
    display: none;
  }
  
  .slider-buttons {
    position: absolute;
    width: 100%;
    height: 100%;

    button {
      position: absolute;
      top: 50%;
      z-index: 6;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;

      i {
        color: white;
        font-size: 24px;
        opacity: 0.4;
        transition: 0.5s linear;
      }

      :hover {
        opacity: 1;
        cursor: pointer;
      }
    }

    .left {
      left: 5%;
    }

    .right {
      right: 5%;
    }

  }
}

//products
.products {
  display: block;
  margin-bottom: 50px;
  
  .container {
    @include mixinContainer;

    .autors {
      padding-right: 10px;
      width: 25%;
      height: 400px;

      h1 {
        font-size: 30px;
        box-sizing: border-box;
        display: inline-block;
        height: 10%;
        padding: 5px;
      }

      .autors-list {
        max-height: 90%;
        border: 1px solid $borders-color;
        border-radius: 5px;

        li {
          list-style-type: none;
          padding: 15px 20px;
          display: block;
          border-bottom: 1px solid $borders-color;
        }

        li:hover {
          background-color: $autors-hover-background;
          cursor: pointer;
        }

        li:last-of-type {
          border: none;
        }
      }
    }

    .books {
      width: 75%;
      height: 400px;

      h1 {
        height: 10%;
        font-size: 30px;
        box-sizing: border-box;
        display: inline-block;
        padding: 5px;
      }

      .books-list {
        box-sizing: border-box;
        width: 100%;
        padding-bottom: 10px;
        height: 90%;
        overflow: hidden;
        overflow-x: auto;
        display: flex;
  
        .box {
          height: 100%;
          box-sizing: border-box;
          padding: 0px 20px 0 0;
          display: flex;
          flex-wrap: wrap;

          .card-image {
            height: 75%;
            width: 200px;
            display: block;

            img {
              width: 100%;
              height: 100%;
            }
          }
          .text {
            display: block;
            width: 100%;
            height: 25%;
            border: 1px solid $borders-color;
            border-radius: 0 0 5px 5px;
  
            h2 {
              font-size: 20px;
              padding: 10px 10px 0 10px;
            }
  
            @include mixinButton;
          }
        }

        .box:last-of-type {
          padding-right: 2px;
        }
      }
    }

    .wrap {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .row {
        @include mixinRow;

        .second-image {
          flex: 0 0 50%;
          max-width: 50%;
          box-sizing: border-box;
          object-fit: cover;
          display: block;
          // @include addButton;
        }

        .second-image:first-of-type {
          padding-right: 15px;
        }
      }
  
      // .third-image {
      //   box-sizing: border-box;
      // }

      img {
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        border: 1px solid $borders-color;
        object-fit: cover;
      }
    }
  }
}

//support
.support {
  margin-bottom: 50px;

  .container {
    @include mixinContainer;

    .row {
      @include mixinRow;
      padding-bottom: 0;

      .card {
        @include mixinCard;

        .col-first {
          flex: 0 0 20%;

          i {
            font-size: 20px;
            padding: 5px;
          }
        }

        .col-second {
          flex: 0 0 80%;

          h3 {
            font-size: 24px;
            padding-bottom: 5px;
          }

          p {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

    }
  }
}

.contact {
  width: 100%;
  background-color: #eff2f5;

  .container {
    @include mixinContainer;
    padding: 30px;

    .row {
      @include mixinRow;
      padding-bottom: 0;

      .card {
        box-sizing: border-box;
        padding: 30px 3vw;
        border: none;
        flex: 0 0 32%;
        display: flex;
        flex-wrap: wrap;

        .small {
          font-size: 10px;
          color: gray;
        }

        h3 {
          font-size: 28px;
          letter-spacing: 1px;
          flex: 0 0 100%;
          padding-bottom: 5px;
        }

        p {
          flex: 0 0 100%;
          font-size: 18px;

          @include mixinA;
        }

        ul {
          @include mixinRow;
          padding-bottom: 10px;
          padding-top: 10px;
          justify-content: left;
          // flex: 0 0 100%;
          flex-wrap: nowrap;
          align-items: center;


          li {
            list-style-type: none;
            display: block;
            padding: 5px 10px;
            text-align: center;

            i {
              transition: 0.3s;
            }

            i:hover {
              cursor: pointer;
              transform: scale(2);
            }

            .fa-facebook-f:hover {
              color: #0A8CF6;
            }

            .fa-twitter:hover {
              color: #02D0EB;
            }

            .fa-youtube:hover {
              color: red;
            }
          }
        }

        input {
          margin-top: 10px; 
          width: 100%;
          padding: 5px;
        }
        

        @include mixinButton;
        .submit-button {
          background-color: #007bff;
          border-color: #007bff;
          color: white;
          padding: 10px 15px;
        }

        .submit-button:hover {
          background-color: #0069d9;
        }
      }

      .order-1 {
        order: 1;
      }

      .order-2 {
        order: 2;
      }

      .order-3 {
        order: 3;
      }
    }
  }
}

//footer 
footer {
  background-color: #AAA1B3;
  width: 100%;
  
  .container {
    @include mixinContainer;

    .row {
      @include mixinRow;
      padding: 5px 0;
      margin: auto;
      text-align: center;

      .col-left{
        flex: 0 0 30%;
      }

      .col-right{
        flex: 0 0 70%;
        text-align: center;

        ul {
          display: flex;
          justify-content: right;
          flex-wrap: wrap;
          padding-right: 20px;

          li {
            padding: 0 5px;
            list-style-type: none;

            @include mixinA;
          }
        }
      }

    }
  }
}

@media (min-width: 768px) {
  .navbar {
    .navbar-hamburger {
      display: none;
    }
  }
}

@media (max-width: 768px  ) {
  .navbar {
    justify-content: space-between;
    flex-wrap: wrap;

    .navbar-title {
      order: 1;
    }

    .navbar-hamburger {
      order: 2;
    }

    .navbar-nav {
      display: none;
      order: 3;
    }

    .navbar-buttons {
      display: none;
      order: 4;
    }

    .navbar-buttons.active {
      display: flex;
      width: 50%;
      margin: auto;

    }

    .navbar-nav.active {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      li {
        width: 100%;

        .dropdown-menu.show {
          width: 100%;
          position: relative;
          display: block;
          transform: translateX(-1%);
          
          a {
            padding:  0 10px;
            margin: 5px 0;
          }
        }
      }
    }
  }

  .products {

    .container {
      max-width: 600px;
      flex-wrap: wrap;

      .wrap {
        .row {
          flex-wrap: wrap;
          padding-bottom: 30px;
          justify-content: center;

          .second-image {
            flex: 0 0 100%;
            max-width: 100%;
          }

          .second-image:first-of-type {
            padding: 0 0 30px 0;
            padding-bottom: 30px;
          }
        }
      }

      .autors {
        flex-basis: 100%;
      }

      .books {
        flex-basis: 100%;
      }
    }
  }

  .contact {
    .container {
      max-width: 600px;

      .row {
        flex-wrap: wrap;
        
        .card{
          flex: 0 0 100%;
        }
  
        .order-1-3 {
          order: 3;
        }
        
        .order-2-1 {
          order: 1;
        }
        
        .order-3-2 {
          order: 2;
        }
      }
    }
  }

  .support {
    .container {
      max-width: 600px;

      .row {
        flex-wrap: wrap;
        .card{
          flex: 0 0 100%;
        }
      }
    }
  }

  footer {
    .container {
      max-width: 600px;

      .row {
        flex-wrap: wrap;
        
        .col-left {
          flex-basis:  100%;
          text-align: left;
        }
  
        .col-right {
          flex-basis: 100%;
          text-align: right;
        }
      }
    }
  }
}