* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  
}

//navbar
.navbar {
  box-sizing: border-box;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background-color: blue;
  background-color: $navbar-backgroundColor;
  color: $navbar-first-color;
  justify-content: space-around;
  padding: 12px 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  .navbar-title {
    line-height: 40px;
    font-size: 1.3rem; 
  }

  .navbar-nav {
    list-style-type: none;
    color: $navbar-second-color;
    display: flex;

    :hover {
      color: $navbar-hover-color;
      cursor: pointer;
    }

    .dropdown :first-child::after {
      content: "";
      margin-left: .255em;
      vertical-align: .255em;
      display: inline-block;
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }

    li.show, a.show, .dropdown.show {
      color: white;
    }


    li {
      margin: 0 10px;
      line-height: 40px;

      a {
        text-decoration: none;
        color: $navbar-second-color;
      }

      .dropdown-menu {
        position: absolute;
        transform: translateX(-10%);
        display: none;
        
        :first-child::after {
          content: none;
        }
      }
    
      .dropdown-menu.show {
        display: block;
        max-height: 250px;
        float: none;
        overflow-y: scroll;
        @include scrollbars(10px, 8px, white, $borders-color, none);
        background-color: $navbar-first-color;
        color: black;
        border: 0.3px solid black;
        border-radius: 5px;
        z-index: 4;
    
        a {
          display: block;
          padding: .25rem 1.5rem;
          color: black;
        }

        :hover {
          color: black;
          background-color: #f8f9fa;
          border-radius: 5px;
        }
      }
    }
  }

  .navbar-buttons {
    width: 200px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;

    .show {
      background-color: $navbar-btn-hover;
    }

    button {
      flex-grow: 1;
      color: white;
      background-color: $navbar-btn-background;
      border: none;
      height: 100%;

      :hover {
        cursor: pointer;
        background-color: $navbar-btn-hover;
      }

      i {
        border-color: $navbar-btn-background;
        width: 100%;
        line-height: 40px;
      }
    }
  }

  .navbar-hamburger {
    width: 50px;
    background-color: $navbar-backgroundColor;
    border: 0.3px solid rgba(255,255,255,.1);
    border-radius: 5px;
    color: rgba(255,255,255,.5);
    display: none;

    :hover {
      cursor: pointer;
      border: 0.3px solid white;
      border-radius: 5px;
    }
    
    span {
      flex-grow: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      :hover {
        border: none;
      }

      i {
        font-size: 30px;
      }
    }
  }
}

//modal-wrap
.modal-wrap {
  display: none;
}

.modal-wrap.active {
  position: fixed;
  z-index: 6;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);

  .modal {
    display: none;
  }

  .modal.active {
    border: 2px solid black;
    max-width: 360px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 80%;
    transition: 0.5s;

    .login {
      flex-basis: 100%;
      height: 30%;
      overflow: hidden;
      overflow-y: scroll;
      display: flex;
      border-radius: 30px 30px 0 0; 
      background-color: rgba(255, 255, 255, 0.75);
      border-bottom: 2px solid black;
      @include scrollbars(8px, 40px, white, $borders-color, (1px solid $borders-color));

      form {
        margin: 5px auto;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        width: 70%;

        input {
          width: 100%;
          margin: 4px 0;
        }

        label {
          width: 100%;
          display: flex;
          align-items: center;

          input {
            width: 20%;
          }
        }

        button {
          width: 100%;
          margin: 4px 0;
          cursor: pointer;
        }
      }
    }

    .register {
      flex-basis: 100%;
      height: 70%;
      display: flex;
      overflow: hidden;
      overflow-y: scroll;
      @include scrollbars(8px, 40px, white, $borders-color, (1px solid $borders-color));
      border-radius: 0 0 30px 30px;
      background-color: rgba(255, 255, 255, 0.75);
      box-sizing: border-box;

      form {
        margin: 5px auto;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        width: 70%;

        input {
          width: 100%;
          margin: 4px 0;
        }

        label {
          width: 100%;

          input {
            width: 20%;
          }
        }

        button {
          width: 100%;
          margin: 4px 0;
          cursor: pointer;
        }
      }
    }
  }

  .modal-read {
    display: none;
  }

  .modal-read.active {
    display: block;
    border: 2px solid black;
    border-radius: 30px;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 80%;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.9);
    @include scrollbars(10px, 8px, white, $borders-color, none);
    
    h2 {
      width: 100%;
      text-align: center;
      margin: 5px auto;
      font-size: 24px;
      font-weight: bold;
    }

    p {
      padding: 2px 10px;
      text-align: left;
      text-indent: 1.5em;
      font-size: 16px;
    }

    .row {
      @include mixinRow(space-around, 10px, 10px);
      padding-top: 10px;
      box-sizing: border-box;

      p {
        text-align: center;
        flex-basis: 30%;
        text-indent: 0;
        display: flex;
        justify-content: center;
        margin: auto;
      }
      
      button {
        padding: 5px;
        flex-basis: 30%;
        border-radius: 5px;
        border: 1px solid black;
        transition: 0.3s;
        cursor: pointer;
      }

      button:hover {
        background-color: #5a62688c;
      }
      
      .lack {
        cursor: not-allowed ;
      }
    }
  }

  span {
    position: fixed;
    top: 10%;
    right: 30%;
    transform: translate(50%, -50%);
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    font-family: arial;
  }
}

.blur {
  filter: blur(2px);
}

//main-slider
.main-slider {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;

  .slider-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    transition: 0.6s;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    p {
      position: absolute;
      display: block;
      text-align: center;
      font-size: 24px;
      color: orangered;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.9;
      background-color: royalblue;
      padding: 3px 6px;
      border-radius: 10px;
    }
  }

  .current {
    display: block;
    z-index: 2;
    transform: translateX(0);
  }

  .next {
    display: block;
    z-index: 2;
    transform: translateX(100%);
  }

  .prev {
    display: block;
    z-index: 2;
    transform: translateX(-100%);
  }

  .hide {
    display: none;
  }
  
  .slider-buttons {
    position: absolute;
    width: 100%;
    height: 100%;

    button {
      position: absolute;
      top: 50%;
      z-index: 2;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;

      i {
        color: white;
        font-size: 24px;
        opacity: 0.4;
        transition: 0.5s linear;
      }

      :hover {
        opacity: 1;
        cursor: pointer;
      }
    }

    .left {
      left: 5%;
    }

    .right {
      right: 5%;
    }

  }
}

//products
.products {
  display: block;
  margin-bottom: 50px;
  
  .container {
    @include mixinContainer;

    .autors {
      padding-right: 10px;
      width: 25%;
      height: 400px;

      h1 {
        font-size: 30px;
        box-sizing: border-box;
        display: inline-block;
        height: 10%;
        padding: 5px;
      }

      .autors-list {
        max-height: 90%;
        border: 1px solid $borders-color;
        background-color: white;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        @include scrollbars(8px, 100%, white, $borders-color, (1px solid $borders-color));

        a {
          padding: 15px 20px;
          display: block;
          border-bottom: 1px solid $borders-color;
          text-decoration: none;
          color: black;
        }

        a:hover {
          background-color: $autors-hover-background;
          cursor: pointer;
        }

        a:last-of-type {
          border: none;
        }
      }
    }

    .books {
      width: 75%;
      height: 400px;

      h1 {
        height: 10%;
        font-size: 30px;
        box-sizing: border-box;
        display: inline-block;
        padding: 5px;

        a {
          font-size: 30px;
        }
      }

      .books-list {
        box-sizing: border-box;
        width: 100%;
        padding-bottom: 10px;
        height: 90%;
        overflow: hidden;
        overflow-x: auto;
        display: flex;
        @include scrollbars(10px, 8px, white, $borders-color, none);
  
        .box {
          height: 100%;
          max-width: 220px;
          box-sizing: border-box;
          margin: 0px 10px;
          display: flex;
          flex-wrap: wrap;

          .card-image {
            height: 75%;
            width: 220px;
            display: block;

            img {
              width: 100%;
              height: 100%;
            }
          }
          .text {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            height: 25%;
            border: 1px solid $borders-color;
            border-radius: 0 0 5px 5px;
  
            h2 {
              font-size: 17px;
              flex-basis: 100%;
              text-align: center;
              padding: 5px 5px 0 5px;
            }

            @include mixinButton(static, 0, 0, 0, 0, 5px, 5px, 5px, 10px);
  
            .box-buttons {
              margin: 4px 2px ;
              flex-basis: 100%;
              display: flex;
              flex-wrap: nowrap;
              @include mixinButton(static, 0, 0, 0, 0, 0, 2px, 5px, 2px);

              .lack {
                cursor: not-allowed ;
              }
            }
          }
        }

        .hide {
          display: none;
        }
      }
    }

    .wrap {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      a{
        flex-basis: 100%;
        .row {
          @include mixinRow(space-between, 30px, 0);
  
          .second-image {
            flex: 0 0 50%;
            max-width: 50%;
            box-sizing: border-box;
            object-fit: cover;
            display: block;
            position: relative;
  
            @include mixinButton(absolute, 50%, 50%, -50%, -50%, 0, 0, 5px, 10px);
          }
  
          .second-image:first-of-type {
            padding-right: 15px;
          }
        }
  
        .horizontal-image {
          flex: 0 0 100%;
          position: relative;
          @include mixinButton(absolute, 50%, 50%, -50%, -50%, 0, 0, 5px, 10px);
        }
  
        img {
          width: 100%;
          box-sizing: border-box;
          height: 100%;
          border: 1px solid $borders-color;
          object-fit: cover;
        }
  

      }
    }
  }
}

//support
.support {
  margin-bottom: 50px;

  .container {
    @include mixinContainer;

    .row {
      @include mixinRow(space-between, 0, 0);

      .card {
        @include mixinCard;

        .col-first {
          flex: 0 0 20%;

          i {
            font-size: 20px;
            padding: 5px;
          }
        }

        .col-second {
          flex: 0 0 80%;

          h3 {
            font-size: 24px;
            padding-bottom: 5px;
          }

          p {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

    }
  }
}

//contact
.contact {
  width: 100%;
  background-color: #eff2f5;

  .container {
    @include mixinContainer;
    padding: 30px;

    .row {
      @include mixinRow(space-between, 0, 0);

      .card {
        box-sizing: border-box;
        padding: 30px 3vw;
        border: none;
        flex: 0 0 32%;
        display: flex;
        flex-wrap: wrap;

        .small {
          font-size: 10px;
          color: gray;
        }

        a {
          font-size: 28px;
          letter-spacing: 1px;
          font-weight: bold;
          flex: 0 0 100%;
          padding-bottom: 5px;
        }

        p {
          flex: 0 0 100%;
          font-size: 18px;

          @include mixinA(18px);
        }

        ul {
          @include mixinRow(left, 10px, 0);
          padding-top: 10px;
          flex-wrap: nowrap;
          align-items: center;


          li {
            list-style-type: none;
            display: block;
            padding: 5px 10px;
            text-align: center;

            i {
              transition: 0.3s;
            }

            i:hover {
              cursor: pointer;
              transform: scale(2);
            }

            .fa-facebook-f:hover {
              color: #0A8CF6;
            }

            .fa-twitter:hover {
              color: #02D0EB;
            }

            .fa-youtube:hover {
              color: red;
            }
          }
        }

        input {
          margin-top: 10px; 
          width: 100%;
          padding: 5px;
        }
        

        @include mixinButton(static, 0, 0, 0, 0, 10px, 20px, 5px, 10px);
        .submit-button {
          background-color: #007bff;
          border-color: #007bff;
          color: white;
          padding: 10px 15px;
        }

        .submit-button:hover {
          background-color: #0069d9;
        }
      }

      .order-1 {
        order: 1;
      }

      .order-2 {
        order: 2;
      }

      .order-3 {
        order: 3;
      }
    }
  }
}

//footer 
footer {
  background-color: #AAA1B3;
  width: 100%;
  
  .container {
    @include mixinContainer;

    .row {
      @include mixinRow(space-between, 5px, 0);
      padding-top: 5px;
      margin: auto;
      text-align: center;

      .col-left{
        flex: 0 0 50%;
        display: flex;
        overflow: hidden;
        
        ul {
          flex: 0 0 100%;
          list-style-type: none;
          position: relative;
          top: 0;
          transition: 0.4s;

          li {
            width: 100%;
            text-align: left;
          }

          .hide {
            position: absolute;
            top: 100%;
          }

          .show {
            top: 0;
            position: absolute;
          }
        }

        ul:hover {
          top: -100%;
        }
      }

      .col-right{
        flex: 0 0 50%;
        text-align: center;

        ul {
          display: flex;
          justify-content: right;
          flex-wrap: wrap;

          li {
            padding: 0 5px;
            list-style-type: none;

            @include mixinA(16px);
          }
        }
      }

    }
  }
}

@media (max-width: 768px  ) {
  .navbar {
    justify-content: space-between;
    flex-wrap: wrap;

    .navbar-title {
      order: 1;
    }

    .navbar-hamburger {
      order: 2;
      display: flex;
    }

    .navbar-nav {
      display: none;
      order: 3;
    }

    .navbar-buttons {
      display: none;
      order: 4;
    }

    .navbar-buttons.active {
      display: flex;
      width: 50%;
      margin: auto;

    }

    .navbar-nav.active {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      li {
        width: 100%;

        .dropdown-menu.show {
          width: 100%;
          position: relative;
          display: block;
          transform: translateX(-1%);
          
          a {
            padding:  0 10px;
            margin: 5px 0;
          }
        }
      }
    }
  }

  .modal-wrap.active {
    .modal.active {
      width: 50%;
      transition: 0.5s;

      .register{
        form {
          input {
            margin: 2px 0;
          }
          button {
            margin: 2px 0;
          }
        }
      }

      .login{
        form {
          input {
            margin: 2px 0;
          }
          button {
            margin: 2px 0;
          }
        }
      }
    }

    .modal-read.active {
      width: 50%;
    }

    span {
      right: 25%;
    }
  }

  .products {

    .container {
      max-width: 600px;
      flex-wrap: wrap;

      .wrap {
        a {
          .row {
            flex-wrap: wrap;
            padding-bottom: 30px;
            justify-content: center;
  
            .second-image {
              flex: 0 0 100%;
              max-width: 100%;
            }
  
            .second-image:first-of-type {
              padding: 0 0 30px 0;
            }
          }
        }
      }

      .autors {
        padding-right: 0px;
        flex-basis: 100%;
      }

      .books {
        flex-basis: 100%;
      }
    }
  }

  .contact {
    .container {
      max-width: 600px;

      .row {
        flex-wrap: wrap;
        
        .card{
          flex: 0 0 100%;
        }
  
        .order-1-3 {
          order: 3;
        }
        
        .order-2-1 {
          order: 1;
        }
        
        .order-3-2 {
          order: 2;
        }
      }
    }
  }

  .support {
    .container {
      max-width: 600px;

      .row {
        flex-wrap: wrap;
        .card{
          flex: 0 0 100%;
        }
      }
    }
  }

  footer {
    .container {
      max-width: 600px;

      .row {
        flex-wrap: wrap;
        overflow: hidden;
        
        .col-left {
          flex-basis:  100%;
          min-height: 18px;
          
          ul {
            display: flex;
          }
          
          ul:hover {
            top: -100%;
          }
        }
  
        .col-right {
          flex-basis: 100%;
          min-height: 18px;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .products {
    .container {
      max-width: 540px;
    }
  }

  .modal-wrap.active {
    .modal.active {
      width: 70%;
      transition: 0.5s;

      .register{
        form {
          input {
            margin: 1px 0;
          }
          button {
            margin: 1px 0;
          }
        }
      }

      .login{
        form {
          input {
            margin: 1px 0;
          }
          button {
            margin: 1px 0;
          }
        }
      }
    }

    .modal-read.active {
      width: 70%;
    }

    span {
      right: 15%;
    }
  }

  .contact {
    .container {
      max-width: 540px;
    }
  }

  .support {
    .container {
      max-width: 540px;
    }
  }

  footer {
    .container {
      max-width: 540px;

      .row {
        flex-wrap: wrap;
        overflow: hidden;
        
        .col-left {
          flex-basis:  100%;
          min-height: 36px;
        }
      }
    }
  }
}