$navbar-backgroundColor: #343a40;
$navbar-first-color: #fff;
$navbar-second-color: rgba(255,255,255,.5);
$navbar-hover-color: rgba(255,255,255,.75);
$navbar-btn-background: #6c757d;
$navbar-btn-hover: #5a6268;
$autors-hover-background: #f8f9fa;
$borders-color: #d3d3d3;

@mixin mixinButton($position, $top, $left, $translateX, $translateY, $marginY, $marginX, $paddingY, $paddingX) {
  button {
    box-sizing: border-box;
    position: $position;
    display: block;
    padding: $paddingY $paddingX;
    font-size: 16px;
    transition: 0.3s;
    background-color:lightgray;
    border: none;
    border-radius: 10px;
    margin: $marginY $marginX;//10px, 20px
    flex-basis: 50%;
    top: $top;
    left: $left;
    transform: translate($translateX, $translateY);
    cursor: pointer;
  }

  button:hover {
    background-color: #e2e6ea;
  }
}

@mixin mixinContainer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@mixin mixinRow($justify, $pBottom, $pLeftRight) {
  display: flex;
  width: 100%;
  padding-bottom: $pBottom; //30px;
  padding-left: $pLeftRight;
  padding-right: $pLeftRight;
  justify-content: $justify;
}

@mixin mixinCard {
  flex: 0 0 32%;
  box-sizing: border-box;
  border: 1px solid $borders-color;
  display: flex;
  padding: 25px;
}

@mixin mixinA($size) {
  a {
    font-size: $size;
    font-weight: normal;
    text-decoration: none;
    color: #007bff;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #0056b3;
  }
}

@mixin scrollbars($width, $height, $background-color, $arrow-color, $border) {
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }

  &::-webkit-scrollbar-thumb {
    background: $arrow-color;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover { 
    display: block;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 5px;
    border-left: $border;
    margin: 20px 0;
  }
}