$navbar-backgroundColor: #343a40;
$navbar-first-color: #fff;
$navbar-second-color: rgba(255,255,255,.5);
$navbar-hover-color: rgba(255,255,255,.75);
$navbar-btn-background: #6c757d;
$navbar-btn-hover: #5a6268;